<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='{%static "formApp/css/all.min.css"%}'>
  <link rel='stylesheet' href='{%static "formApp/css/bootstrap.css"%}'>
  <link rel='stylesheet' href='{%static "formApp/css/custom.css"%}'>
    <title>Update Data</title>
</head>
<body>
    <div class='container mt-5'>
        <h2 class="text-center alert alert-info">Update Student Data</h2>
    <div class='row mt-4'>        
        <div class='col-sm-8 mx-4'>
            <form action="" method='POST'>{% csrf_token %}
                {{newUpd.as_p}}
                <input type="submit" value="Update" class='btn btn-info'>
                <a href="{%url 'base'%}" class='d-inline mx-2 btn btn-outline-info'>Back to Home</a>
            </form>
        </div>
    </div>
    
    </div>    
<script src='{%static "formApp/js/jquery.js"%}'></script>
<script src='{%static "formApp/js/popper.js"%}'></script> 
<script src='{%static "formApp/js/bootstrap.js"%}'></script> 
<script src='{%static "formApp/js/all.min.js"%}'></script>  
<script src='{%static "formApp/js/my.js"%}'></script>
</body>
</html>